body {
	margin: 0;
}

.App {
	color: blue;
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homeflex {
  display: flex;
  justify-content: center;
}

.home {
  width: 300px;
}

.newgame {
  height: 30px;
  width: 150px;
}

.game-title {
  text-align: center;
  font-size: 50px;
  color: #10418f;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-link {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #10418f;
}

.delete {
  margin-left: 10px;
}