body {
	margin: 0;
}

.App {
	color: blue;
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.homeflex {
  display: flex;
  justify-content: center;
}

.home {
  width: 300px;
}